.contact-page {
  width: 100vw !important;
  max-width: 100vw !important;
}

.contact-page * {
  max-width: 100% !important;
}

.contact{
    display: flex;
    padding: 60px 8%;
    text-align: center;
    justify-content: space-evenly;
    background-color: azure;
}

.contact svg{
    color: red;
    font-size: 25px;
}

.contact h4{
    font-size:20px;
    color: #000;
}

.contact p{
    font-size: 18px;
    color: #000;
}


@media (max-width: 768px) {
    .contact{
        flex-direction: column;
    }
}