.about-section {
  padding: 60px 40px;
  background: #ffffff;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

.about-left {
  flex: 1;
}

.about-title {
  font-size: 35px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.about-icons {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.icon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  font-size: 30px;
  color: #b31a1a;
  margin-bottom: 8px;
}

.icon-box h3 {
  font-size: 17px;
  font-weight: 600;
  color: #1b1b1b;
}

.about-text {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}

.contact-row {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.contact-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-box p{
    color: #1b1b1b;
}

.contact-icon {
  background: #b31a1a;
  color: white;
  padding: 12px;
  border-radius: 50%;
  font-size: 17px;
}

.about-right {
  flex: 1;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* ---------------------- RESPONSIVE ---------------------- */

@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
  }

  .img-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .about-section {
    padding: 50px 20px;
  }

  .about-icons {
    flex-direction: column;
  }

  .contact-row {
    flex-direction: column;
  }

  .img-grid {
    grid-template-columns: 1fr;
  }

  .grid-img {
    height: 220px;
  }
}
