.footer {
  background: #000b3f; /* deep navy */
  color: white;
  padding-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Column Titles */
.footer-col h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

/* Contact Info */
.footer-col p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #d1d6e6;
  margin-bottom: 10px;
  font-size: 15px;
}

/* Links */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 15px;
  color: #d1d6e6;
  cursor: pointer;
  transition: 0.2s;
}

.footer-col ul li:hover {
  color: #ff6a00;
  padding-left: 5px;
}

/* Social Icons */
.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social a {
  width: 38px;
  height: 38px;
  border: 1px solid #d1d6e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d6e6;
  font-size: 16px;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #ff3c00;
  border-color: #ff3c00;
  color: white;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #1a225c;
  margin-top: 40px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  color: #c8ccec;
}

.footer-bottom .brand {
  color: #ff6a00;
  font-weight: 700;
}

.footer-bottom a{
    text-decoration: none;
}


/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-col p {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}
